extends layout

block content
  .row-fluid
   h1.offset2
     a.logo(href='/') Drawwww &nbsp;
  .row-fluid    
    img.surface.offset2(src=path, height=500, width=500).img-polaroid
  .row-fluid
    if title == '' && user == ''
      br
    else if title == ''
      .offset2.details by #{user}
    else if user == ''
      .offset2.details #{title}
    else
      .offset2.details #{title} &nbsp;
        .user by #{user}
  .row-fluid
    .offset2.detailform
      span.label.label-inverse Direct Link:
      br
      .input-append
        input#direct-link(type='text', value=directPath) 
        button.btn(type='button', onclick='imageDirectLink()') Go
      a.btn(href='javascript:history.go(-1)') Back
